<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="demo.css">
</head>

<body>
    <section class="background">
        <header>
            <div class="container">
                <div class="logo-container">
                    <img id="logo" src="https://static.vecteezy.com/system/resources/previews/003/607/690/original/nft-non-fungible-token-nft-text-nft-logo-non-fungible-token-poster-new-digital-currency-digital-art-transaction-illustration-background-vector.jpg" alt="">
                </div>

                <nav class="header-text">
                    <a id="home-button" href="#">Home</a>
                    <a href="#">Explore</a>
                    <a href="#">Item-details</a>
                    <a href="#">Author</a>
                    <a href="#">Create-yours</a>
                </nav>

            </div>
        </header>
        <div class="banner-container">
            <div class="container">
                <div class="text-section">
                    <h3>Liberty NFT Market</h3>
                    <h1>CREATE, SELL & COLLECT TOP NFT’S.</h1>
                    <p>Liberty NFT Market is a really cool and professional design for your NFT websites. This HTML CSS
                        template is based on Bootstrap v5 and it is designed for NFT related web portals. Liberty can be
                        freely downloaded from TemplateMo's free css templates </p>

                    <button >Explore Top NFTs</button>
                    <button id="button-2">Watch Our Video</button>
                </div>
                <div class="image-section">
                    <img src="https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/banner-01.png"
                        alt="">
                    <!-- <img src=" https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/banner-02.png"
                        alt=""> -->
                        
                </div>
            </div>


        </div>
    </section>
</body>

</html>